# Phase 1 Code Challenge Review

![let's do this](https://media.giphy.com/media/BpGWitbFZflfSUYuZ9/giphy.gif)

The topics covered will be:

  - [Interacting with Pandas dataframes](#dataframes)
  - [Visualization](#viz)
  - [Python Data Structures](#datastructures)

In [11]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import pickle
import json

%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

<a id='dataframes'></a>
# DataFrames

To practice working with dataframes, we will use some Facebook data taken from the UCI Machine Learning repository.

Refer to this paper if you are interested in learning more. There is also a nice description of the features: http://www.math-evry.cnrs.fr/_media/members/aguilloux/enseignements/m1mint/moro2016.pdf

# Task 1

Read 'dataset_Facebook.csv' from data/Facebook_metrics into the notebook as a Pandas dataframe.

In [3]:
# Your code here
facebook = None

In [ ]:
one_random_student(student_first_names)

In [12]:
#__SOLUTION__
facebook = pd.read_csv('data/Facebook_metrics/dataset_Facebook.csv',delimiter=';')

# Task 2

### 2a: Count how many na's there are in each column

In [ ]:
# Your code here

In [13]:
#__SOLUTION__
facebook.isna().sum()

Page total likes                                                       0
Type                                                                   0
Category                                                               0
Post Month                                                             0
Post Weekday                                                           0
Post Hour                                                              0
Paid                                                                   1
Lifetime Post Total Reach                                              0
Lifetime Post Total Impressions                                        0
Lifetime Engaged Users                                                 0
Lifetime Post Consumers                                                0
Lifetime Post Consumptions                                             0
Lifetime Post Impressions by people who have liked your Page           0
Lifetime Post reach by people who like your Page                       0
Lifetime People who have liked your Page and engaged with your post    0
comment                                                                0
like                                                                   1
share                                                                  4
Total Interactions                                                     0
dtype: int64

In [5]:
one_random_student(student_first_names)

NameError: name 'one_random_student' is not defined

### 2b: Drop records that have na's in any column without altering the dataframe in memory

In [ ]:
# Your code here

In [14]:
#__SOLUTION__
facebook.dropna()

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
0,139441,Photo,2,12,4,3,0.0,2752,5091,178,109,159,3078,1640,119,4,79.0,17.0,100
1,139441,Status,2,12,3,10,0.0,10460,19057,1457,1361,1674,11710,6112,1108,5,130.0,29.0,164
2,139441,Photo,3,12,3,3,0.0,2413,4373,177,113,154,2812,1503,132,0,66.0,14.0,80
3,139441,Photo,2,12,2,10,1.0,50128,87991,2211,790,1119,61027,32048,1386,58,1572.0,147.0,1777
4,139441,Photo,2,12,2,3,0.0,7244,13594,671,410,580,6228,3200,396,19,325.0,49.0,393
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
494,85093,Photo,3,1,7,10,0.0,5400,9218,810,756,1003,5654,3230,422,10,125.0,41.0,176
495,85093,Photo,3,1,7,2,0.0,4684,7536,733,708,985,4750,2876,392,5,53.0,26.0,84
496,81370,Photo,2,1,5,8,0.0,3480,6229,537,508,687,3961,2104,301,0,53.0,22.0,75
497,81370,Photo,1,1,5,2,0.0,3778,7216,625,572,795,4742,2388,363,4,93.0,18.0,115
498,81370,Photo,3,1,4,11,0.0,4156,7564,626,574,832,4534,2452,370,7,91.0,38.0,136

In [ ]:
one_random_student(student_first_names)

### 2c: Drop records that have na's in the `share` column while altering the dataframe in memory

In [ ]:
# Your code here

In [15]:
#__SOLUTION__
facebook.dropna(subset=['share'], inplace=True)

In [ ]:
one_random_student(student_first_names)

# Task 3

An impression is each time a post is displayed.  

Create a new column called `likes_per_impression` which divides the number of comments per post by the number of likes per post.

In [ ]:
# Your code here

In [16]:
#__SOLUTION__
facebook['likes_per_impression'] = facebook['like']/facebook['Lifetime Post Total Impressions']

In [ ]:
one_random_student(student_first_names)

# Task 4

Locate the `record` of a **Photo** that has the largest value in the `like` column

In [ ]:
# Your code here

In [18]:
#__SOLUTION__
facebook[(facebook['Type']=='Photo') & (facebook['like']==facebook['like'].max())]

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions,likes_per_impression
244,130791,Photo,2,7,3,5,1.0,180480,319133,8072,4010,6242,108752,51456,3316,372,5172.0,790.0,6334,0.016206

In [ ]:
one_random_student(student_first_names)

# Task 5
What is the mean number of Total Interactions for photos?

In [ ]:
# Your code here
mean_interactions_photos = None

In [17]:
#__SOLUTION__
facebook[facebook['Type'] == 'Photo']['Total Interactions'].mean()

218.56872037914692

In [ ]:
one_random_student(student_first_names)

<a id='viz'></a>
# Visualization

# Task 6

Create a bar chart showing the number of posts per month.
Order the x-axis by month as they appear on the calendar.
Don't forget to add labels and a title.  

Use the `plt.subplot` method if you can, but if you can't, resort to the `plt` syntax.

In [ ]:
# Your code here

In [ ]:
#__SOLUTION__

x = facebook['Post Month'].value_counts().sort_index().index
y = facebook['Post Month'].value_counts().sort_index().values

fig, ax = plt.subplots(figsize=(10,5))
ax.bar(x,y)
ax.set_title('Facebook Posts Per Month')
ax.set_xlabel('Month')
ax.set_ylabel('Number of Posts')
ax.set_xticks(range(1,13))
ax.set_xticklabels(list('JFMAMJJASOND'));

In [ ]:
one_random_student(student_first_names)

# Task 7

Create a scatter plot that shows the correlation between total interactions and likes.

In [ ]:
# Your code here

In [ ]:
#__SOLUTION__

x = facebook['Total Interactions']
y = facebook['like']


fig, ax = plt.subplots(figsize=(10,5))
ax.scatter(x,y)
ax.set_title('Correlation Between Likes\n and Total Interactions\of Facebook Posts')
ax.set_xlabel('Total Interactions')
ax.set_ylabel('Likes');

In [ ]:
one_random_student(student_first_names)

<a id='datastructures'></a>
# Data Structures

For this next section, we will explore a nested dictionary that comes from the Spotify API.  

The `data` variable below contains 6 separate pings, each of which returns a list of the top 20 songs streamed on a given day.

In [ ]:
with open('data/offset_newreleases.p','rb') as read_file:
    responses = pickle.load(read_file)

In [ ]:
data = [json.loads(r) for r in responses]

In [ ]:
len(data)

We will work only with the first response.

In [ ]:
first_response = data[0]

# Task 8

Explore the `first_response` dictionary and find how to access the list of twenty songs.
Assign the list to the variable `first_twenty_songs`.
Hint: print out the keys at each level with .keys().

In [ ]:
# Your code here
first_twenty_songs = None

In [ ]:
#__SOLUTION__
first_twenty_songs = first_response['albums']['items']

In [ ]:
one_random_student(student_first_names)

# Task 9

Create a list of **track names** of all twenty songs using a for loop or list comprehension.

In [ ]:
track_names = []

# Your code here

In [ ]:
#__SOLUTION__
track_names = []
for track in first_twenty_songs:
    track_names.append(track['name'])

In [ ]:
one_random_student(student_first_names)

# Task 10

Create a dictionary called `song_dictionary` which consists of each track name `string` as a key and a `list` of artists associated with each track as a value.

In [ ]:
song_dictionary = {}

# Your code here

In [ ]:
#__SOLUTION__
song_dictionary = {}

for record in first_twenty_songs:
    artist_list = []
    for artist in record['artists']:
        artist_list.append(artist['name'])
    song_dictionary[record['name']] = tuple(artist_list)
    
song_dictionary

In [ ]:
one_random_student(student_first_names)

# Task 11

Create a function with takes an **artist name** and the **song_dictionary** as arguments, and returns a `list` of songs written by that artist.

In [ ]:
# Your code here
def find_songs_by_artist():
    
    '''
    Parameters:
    arist_name: a string of an artist's name to be used to search the dictionary
    song_dictionary:  a dictionary of top_twenty songs with song name as keys and a list of 
    artist names as values
    
    Returns:
    A list of songs which the given artist appeared on
    '''

In [ ]:
#__SOLUTION__

def find_song_by_artist(artist_name, song_dictionary):
    
    '''
    Parameters:
    arist_name: a string of an artist's name to be used to search the dictionary
    song_dictionary:  a dictionary of top_twenty songs with song name as keys and a list of 
    artist names as values
    
    Returns:
    A list of songs which the given artist appeared on
    '''
    
    song_list = []
    
    for song in song_dictionary:
        if artist_name in song_dictionary[song]:
            song_list.append(song)
    
    return song_list

In [ ]:
one_random_student(student_first_names)

In [ ]:
find_song_by_artist('Selena Gomez', song_dictionary)